name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: ^1.16
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
